body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.heading {
  line-height: 1; /* Adjust this value for desired spacing */
}

button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

input {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
  padding: 8px;
  border-radius: 5px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-right: 6rem;
  padding-left: 6rem;
  text-align: center;
}

.oneContainer {
  display: flex;
  gap: 150px; /* Adds space between columns */
}

.three-column-container {
  display: flex;
  justify-content: space-between; /* Add space between columns */
}

.form-three-column-container {
  display: flex;
  justify-content: space-between; /* Add space between columns */
}

.column {
  flex: 1; /* Each column takes up equal width */
  padding: 10px;
  /* background-color: #f0f0f0; */
  margin: 5px;
  text-align: center;
}

.nav {
  color: #ffffff; /* Default color */
  padding: 10px 20px;
  text-decoration: none;
}

.nav .active-link {
  color: #ff6347; /* Color for the active page link */
  font-weight: bold;
  border-bottom: 2px solid #ff6347; /* Optional underline */
}